.button3 {
  background-color: transparent;
  border: 1px solid rgb(204, 204, 204);
  display: inline-block;
  color: rgb(76, 76, 76);
  cursor: pointer;
  font-size: 14px;
  font-family: RobotoRegular;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 40px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border-raiuds: 0;
}

.roll-text3 {
  display: block;
  position: relative;
  transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.roll-text3:last-child {
  color: rgb(76, 76, 76);
}

.rollover3:hover .roll-text3:first-child {
  margin-top: -40px;
}

.button4 {
  background-color: silver;
  border: 1px solid rgb(204, 204, 204);
  cursor: context-menu;
  display: inline-block;
  color: rgb(76, 76, 76);
  font-size: 14px;
  font-family: RobotoRegular;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 40px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border-raiuds: 0;
}

.button5 {
  background-color: white;
  border: 1px solid rgb(204, 204, 204);
  cursor: context-menu;
  display: inline-block;
  color: rgb(76, 76, 76);
  font-size: 14px;
  font-family: RobotoRegular;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 40px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border-raiuds: 0;
}
