/* .Select-placeholder {
  background-color: rgb(0, 10, 50);
} */

.Select--single {
  padding: 1px;
  margin: 0.6px;
}

.Select-placeholder {
  font-size: 13px;
}

.Select-value-label {
  color: rgb(127, 165, 208);
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single
  > .Select-control
  .Select-value
  .Select-value-label {
  color: rgb(127, 165, 208) !important;
}
