.wrap {
  height: 120px;
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button {
  background-color: transparent;
  border: 1px solid rgb(127, 165, 208);
  border-radius: 4px;
  display: inline-block;
  color: rgb(127, 165, 208);
  cursor: pointer;
  font-family: RobotoLight;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 37.5px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: rgb(127, 165, 208);
}

.roll-text {
  display: block;
  position: relative;
  transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.roll-text:last-child {
  color: #fff;
}

.rollover:hover .roll-text:first-child {
  margin-top: -40px;
}
