.button10 {
  display: inline-block;
  color: rgb(76, 76, 76);
  cursor: pointer;
  font-size: 15px;
  font-family: RobotoLight;
  background-color: rgb(127, 165, 208);
  height: 40px;
  width: 130px;
  line-height: 40px;
  letter-spacing: 1px;
  /* margin-top: 20px; */
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  margin: 25px;
}

.roll-text10 {
  display: block;
  color: white;
  position: relative;
  transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.roll-text10:last-child {
  color: #fff;
}

.rollover10:hover .roll-text10:first-child {
  margin-top: -38px;
}

.button8 {
  display: inline-block;
  color: rgb(76, 76, 76);
  cursor: pointer;
  font-size: 15px;
  font-family: RobotoLight;
  background-color: rgb(127, 165, 208);
  height: 40px;
  width: 130px;
  line-height: 40px;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  margin: 60px;
}

.roll-text8 {
  display: block;
  color: white;
  position: absolute;
  transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.roll-text8:last-child {
  color: #fff;
}

.rollover8:hover .roll-text8:first-child {
  margin-top: -38px;
}

.roll-text9 {
  position: absolute;
  visibility: hidden;
}

.iconca {
  display: inline-block;
  padding: 5px 0;
  height: 97px;
}

.hotelIcon {
  margin-left: 25px;
}

.wrap8 {
  width: 90px;
  height: 100px;
  position: relative;
}

.iconca:hover .iconca {
  opacity: 0.7;
}

.iconca:hover .roll-text9 {
  visibility: visible;
}
