@font-face {
  font-family: PernodRegular;
  src: url('../../assets/fonts/pernodricard_regular-webfont.woff2') format('woff2'),
      url('../../assets/fonts/pernodricard_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RobotoRegular;
  src: url('../../assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
      url('../../assets/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.MuiInput-input-31 {
  color: white !important;
  font-family: PernodRegular !important;
  min-width: 250px !important;
}

.MuiFormLabel-root-18 {
  color: #7fa5d0 !important;
  font-size: 15px !important;
  font-family: RobotoRegular !important;
}

.MuiInput-underline-27:before {
  border-bottom: 0.3px solid #7fa5d0 !important;
}

.MuiInputLabel-formControl-14 {
  font-size: 13px !important;
}
/* 
input:-webkit-autofill {
  background-color: red !important;
} */
.custom-css-input23 {
  /* color: red !important; */
}

.CustomizedInputs-margin-2 {
  margin: 0 !important;
}

.MuiInput-formControl-24 {
  /* margin-top: 12px !important; */
  /* top: 8px !important; */
  left: 0;
  position: absolute;
  font-size: 14px !important;
}

.MuiFormLabel-root-63 {
  color: #7fa5d0 !important;
  /* margin-top: -13px; */
}

.MuiInput-underline-37:hover:not(.MuiInput-disabled-36):not(.MuiInput-focused-35):not(.MuiInput-error-38):before {
  border-bottom: 1px solid #7fa5d0 !important;
}

.MuiFormLabel-root-28 {
  color: #7fa5d0 !important;
}

.MuiInput-underline-72:before {
  border-bottom: 1px solid #7fa5d0 !important;
}

.MuiInput-root-68 {
  color: #7fa5d0 !important;
}

.MuiInput-underline-82:hover:not(.MuiInput-disabled-81):not(.MuiInput-focused-80):not(.MuiInput-error-83):before {
  border-bottom: 1px solid white;
}

/* .MuiFormLabel-root-73
  .CustomizedInputs-cssLabel-58
  .MuiInputLabel-root-68
  .MuiInputLabel-formControl-69 */
.MuiInputLabel-animated-72 {
  color: #7fa5d0 !important;
  font-size: 14px !important;
  /* top: 6px !important; */
}

#custom-css-input {
  border-bottom: 1px solid #7fa5d0 !important;
}

.MuiInputLabel-formControl-59 {
  /* top: 18px !important; */
  /* left: 0; */
  font-size: 15px !important;
}

.MuiInputLabel-animated-82 {
  color: #7fa5d0 !important;
}
