.slick-dots li button:before {
  border: 1px solid white;
  border-radius: 50%;
  color: transparent;
  position: relative;
}

.slick-dots {
  z-index: 3;
  bottom: 19px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.001);
  background-color: white;
}

.slick-dots li button:before {
  width: 10px;
  height: 10px;
  opacity: 0.75;
}

.slick-dots li.slick-active button {
  opacity: 0.75;
  bottom: 14px;
  color: rgba(255, 255, 255, 0.001);
}

.slick-dots li.slick-active button:after {
}

.slider-control-centerleft button,
.slider-control-centerright button {
  display: none;
}

.slider-control-bottomcenter ul li button {
  color: white !important;
  font-size: 30px !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1) !important;
}

@media screen and (max-width: 600px) {
  .slider-slide > img {
    /* max-width: 102% !important; */
    margin-top: -10px;
    height: 310px !important;
  }
  
  .slider-slide > img {
    width: auto !important;
    display: block;
  }
  
  .slider {
    height: 310px !important;
  }
  
  .slider-frame {
    height: 310px !important;
  }
}

@media screen and (min-width: 600px) {
  .slider-slide > img {
    /* max-width: 102% !important; */
    width: 100% !important;
    /* max-width: 475px; */
    display: block;
    height: auto !important;
  }

  .slider-slide > img {
    display: block;
    height: auto;
  }

  .slider {
    height: 310px !important;
    /* width: 475px !important; */
  }

  .slider-frame {
    height: 310px !important;
    /* width: 475px !important; */
  }
}