.roll-text8 {
  display: block;
  color: white;
  position: relative;
  transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.roll-text8:last-child {
  color: #fff;
}

.rollover8:hover .roll-text8:first-child {
  /* margin-top: -10px; */
}

.iconca2 {
  display: inline-block;
  padding: 5px 0;
  height: 40px;
  overflow: hidden;
}

.iconca2:hover .roll-text8:first-child {
  margin-top: -30px;
}

.inp {
  font-family: RobotoRegular;
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  display: grid;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  margin-top: 10px;
}

.inp .label {
  position: absolute;
  top: 16px;
  bottom: 0;

  left: 0;
  font-size: 15px;
  color: #7fa5d0;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}

.inp .border {
  position: absolute;
  bottom: -38px;
  /* top: 36px; */
  left: 0;
  height: 2px;
  width: 100%;
  background: #7fa5d0;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}

.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  padding: 4px 0;
  height: 38px;
  font-size: 16px;
  /* font-family:  */
  font-weight: 500;
  border-bottom: 1px solid #7fa5d0;
  background: none;
  border-radius: 0;
  color: white;
  transition: all 0.15s ease;
}

span .label {
  margin-bottom: 10px;
}

.inp input:not(:placeholder-shown) + span {
  color: #7fa5d0;
  transform: translateY(-21px) scale(0.75);
}

.inp input:focus {
  background: none;
  outline: none;
}

.inp input:focus + span {
  color: #7fa5d0;
  transform: translateY(-21px) scale(0.75);
}

.inp input:focus + span + .border {
  transform: scaleX(1);
}
