a {
  text-decoration: none;
}

#avp {
  background-color: rgba(0, 0, 0, 0);
  
  left: 0;
  width: 100%;
  height: auto;
  z-index: 499;
  color: white;
  font-family: RobotoRegular;
}

#avp .avp-content {
  background-color: #010c31;
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  margin: auto;

  padding: 50px;
  width: 75%;

  text-align: center;
}

@media (max-width: 410px) {
  #avp .avp-content {
    width: 300px;
  }
}

#avp .avp-content h1 {
  margin-bottom: 40px;
}

#avp .avp-content .avp-text {
  margin-top: 45px;
  font-size: 14px;
  line-height: 130%;
  padding-right: 10%;
  padding-left: 10%;
  font-family: PernodItalic;
  color: #7a9ec6;

}

#avp .avp-content .avp-text a {
  color: #fff;
  text-decoration: underline;
}

#avp .avp-content .avp-text a:hover {
  color: #ccc;
}

#avp .avp-content .btn-default {
  margin: 0 7.5px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.btn {
   background-color: transparent;
  border: 1px solid white;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-family: RobotoRegular;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border-raiuds: 0;
}

#avp-header {
  font-size: 35px;
  font-family: RobotoRegular;
  
}
