.button6 {
  display: inline-block;
  color: rgb(76, 76, 76);
  cursor: pointer;
  font-size: 14px;
  font-family: RobotoRegular;
  font-weight: 600;
  height: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  margin-top: 20px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.roll-text6 {
  display: block;
  position: relative;
  transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.roll-text6:last-child {
  color: rgb(76, 76, 76);
}

.rollover6:hover .roll-text6:first-child {
  margin-top: -25px;
}

/* .wrap6 {
  margin-top: 20px;
}

.wrap6:hover {
  opacity: 0.7;
} */
