.button2 {
  background-color: transparent;
  border: 1px solid white;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-family: RobotoRegular;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  font-weight: 200;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border-raiuds: 0;
}

.roll-text2 {
  display: block;
  position: relative;
  transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.roll-text2:last-child {
  color: #fff;
}

.rollover2:hover .roll-text2:first-child {
  margin-top: -38px;
}

#passInp {
  margin-top: -40px;
}

#inp {
  z-index: 23;
}

.login-inp {
  display: block;
}